<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="assets/svg/water-wheel.svg"
    />
    <span>Angular Samples</span>
      <div class="spacer"></div>
      <a href="https://www.linkedin.com/in/lijolinkedin" target="_blank" rel="noopener" ><img
        width="40"
        id="github-logo"
        alt="github Logo"
        src="assets/svg/github-logo.svg"
      /></a>
      <a href="https://www.linkedin.com/in/lijolinkedin" target="_blank" rel="noopener" ><img
        width="40"
        id="linkedin-logo"
        alt="linkedin Logo"
        src="assets/svg/linkedin.svg"
      /></a>
  </div>